<div class="container text-center">
  <div class="form-group">
    <form action="/answer">
    <label for="question">Speak to your coach</label>
    <input type="text" id="question" name="query" placeholder="what time is it?">
    <input type="submit" value="Go on!" class="btn btn-primary btn-lg btn block" >
  </form>
  </div>
</div>
